*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 75%;
    margin: auto; /* center the div */
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}


section{
    padding: 50px 0;
}

a{
    text-decoration: none;
    color: grey;
    font-size: 18px;
}

a:hover,
.active{
    color: #ff7a57;
}


.btn{
    padding: 10px 15px;
    border-radius: 20px;

    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}


.btn-primary{
    background-color: #ff7a57;
    border: 1px solid #ff7a57;
    color: white;
}

.btn-primary:hover{
    background-color: white;
    border: 1px solid #ff7a57;
    color: #ff7a57;
}


.w-50{
    width: 48%;
}



.btn-dark{
    background-color: #343a40;
    border: 1px solid #343a40;
    color: white;
}

.btn-dark:hover{
    background-color: white;
    border: 1px solid #343a40;
    color: #343a40;
}

.my-10{
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons i{
    font-size: 20px;
    color: #ff7a57;
    border: 1px solid #ff7a57;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icons i:hover{
    color: white;
    background-color: #ff7a57;
}

/* ---------------------------------------------- */
body{
    height: 500000px;
}
nav{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.3);
    padding: 10px 0;

    position: fixed;  
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav img{
    width: 75px;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 0 10px;
    margin-right: 10px;
}

/* --------------------------------------- */
main{
    padding-top: 65px;
    border-bottom: 1px solid #ddd;
}


main .d-flex{
    height: 75vh; /*view height*/
    
}

main img{
    width: 620px;
    align-self: flex-end;
}

main p{
    font-size: 30px;
    opacity: 65%;
}

main h2{
    font-size: 50px;
    opacity: 75%;
}